%h2.header_new New Card
.container
    %ul
        - @task.errors.full_messages.each do |message|
            %li= message
    
    = form_with(model: @task, url: tasks_path, local: true) do |f|
        %div.title_label
            = f.label :eyecatch, 'Image'
        %div
            = f.file_field :eyecatch
        %div.title_label
            = f.label :title, 'Name'
        %div
            = f.text_field :title, class: 'text, text_title'
        %div.title_label
            = f.label :content, 'Description'
        %div
            = f.text_area :content, class: 'text_content'
        = f.submit 'Save', class: 'submit_btn' 
          
   