.tabs-card
  - if task.eyecatch.attached?
    .board_image
      = image_tag task.eyecatch
  .board_detail
    %div
      - if user_signed_in? && current_user.has_written2?(task)
        .board_detail_actions
          .dropdown
            = image_tag 'actions.svg', class: 'dropbtn'
            .dropdown-content.mini
              = link_to '編集する', edit_board_path(@board)
              = link_to '削除する', task_path(task), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
  = link_to task_path(task) do
    .card_title
      = task.title
    
    .card_content
      = task.content
  
  .board_detail
    = image_tag task.user.avatar_image
  
  